:root {
    --grid-template-value: 16;
}


.block {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 40px;
    background-color: whitesmoke;
}
#container {
    display: grid;
    grid-template-columns: repeat(var(--grid-template-value), 1fr); 
    grid-template-rows: repeat(var(--grid-template-value) 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 10px;
}

.blockActive {
    background-color: orange;
}

button {
    margin-bottom: 20px;
    background-color: red;
    size: 100px;
    border: none;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 210px;
    color: black;
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#popup {
    position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}