.block {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 40px;
    background-color: whitesmoke;
}
#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}